body{
  background-color: #E8DAEF;
}
.fade {
  opacity: 0.5;
  clear: left;
}
@media screen and (max-width:800px){
  #top>img{
    height: 70px;
    border-radius: 10px;
  }
}
@media screen and (min-width:800px){
  #top>img{
    height: 150px;
  }
}
@media screen and (max-width:800px){
  #top>p{
    font-size: 15px;
    padding-left: 30px;
    width: 150px;
  }
}
@media screen and (min-width:800px){
  #top>p{
    font-size: 20px;
    padding-left: 50px;
    width: 150px;
  }
}
@media screen and (max-width:800px){
  #top{
    display: flex;
    height: 80px;
    background-color: #E8DAEF;
    box-shadow: 2px 2px 5px  black;

  }
}
@media screen and (min-width:800px){
  #top{
    display: flex;
    height: 160px;
    background-color: #E8DAEF;
    box-shadow: 2px 2px 5px  black;
  }
}
@media screen and (max-width:800px) {
  #contacts>p>img {
    height: 10px;
    width:10px;
  }
}
@media screen and (min-width:800px) {
  #contacts>p>img {
    height: 15px;
    width:15px;
  }
}
@media screen and (min-width:800px) {
  #contacts>p>span{
    font-size: 10px;
  }
}
@media screen and (max-width:800px) {
  #contacts>p>span {
    font-size: 10px;
  }
}
@media screen and (max-width:800px) {
  #contacts>p>span>a {
    text-decoration: none;
    color:#76D7C4;
  }
}
@media screen and (min-width:800px) {
  #contacts>p>span>a {
    text-decoration: none;
    color:#76D7C4;
  }
}
@media screen and (max-width:800px){
  #contacts{
    display: flex;
  }
}
@media screen and (min-width:800px){
  #contacts{
    display: flex;
  }
}
@media screen and (min-width:800px){
  #contacts>p{
    padding-left: 70px;
  }
}
@media screen and (max-width:800px){
  #contacts>p{
    padding-left: 40px;
  }
}
